/backend/node_modules
/chatapp/node_modules

/front_end/node_modules
/pmshri/node_modules
/backend/public/uploads
/backend/public/file/uploads
/backend/public/file/downloads
/api/storage
/api/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.idea
.vscode
/chatapp/.vscode
/backend/.vscode
backend/.env
/backend/config/env/index.js
/chatapp/.env
chatapp/src/env/index.js
/database/dump-mhrdprabandh-202312031448.tar
package.json
package-lock.json
chatapp/src/.env
/backend/package-lock.json
/backend/package.json
/chatapp/package-lock.json
backend/package-lock.json
backend/package.json
chatapp/package-lock.json