.active {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    cursor: pointer;
    padding: 8px;
}

.inactive {
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #eee
}