.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat_div {
  position: relative;
  height: 500px;
  width: 600px;
  border: 1px solid black;
  overflow-y: scroll;
  margin: auto;
  background-color: rgb(230, 248, 203);
}

.child_div {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.input_msg {
  width: 90%;
}

.self_messages {
  padding: 0px 5px;
  margin: 1px 0px;
  text-align: right;
}

.self_messages .self_inner_text {
  background-color: rgb(134, 156, 85);
  border-radius: 5px;
}

.received_messages .self_inner_text {
  background-color: rgb(162, 226, 89);
  border-radius: 5px;
}

.received_messages {
  text-align: left;
  padding: 0px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}